.head{
    height: 50px;
    background-color:whitesmoke;
}
.but-logo{
    width: 12%;
    font-weight: 600;
    text-align: center;
    border: 1px solid rgba(119, 136, 153, 0.2);
    border-radius: 5%;
}
.footer-ipl{
    height:50px;
    width:100%;
    color: whitesmoke;
    font-weight: 800;
    margin: 30px 0px;
    padding: 10px 550px 10px 600px;
    background-color: cornflowerblue;
  
}
.img-container{
    margin:90px auto;
    width:250px;
    height:250px;
    border-radius: 50%;
}
.player-icon{
    width:100%;
    height:100%;
    border-radius: 50%;
    border:1px solid black;
}
.text-container{
    margin:0 auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border:1px solid black;
    border-radius: 25px;
    width:300px;
    background-color: white;
}
.player-price{
    color:gray;
}
body{
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
}